<nav class="navbar navbar-expand-sm bg-white myBgColor w-100 myIndex">
    <a class="navbar-brand text-dark font-weight-bold myBig" href="#">趋势</a>
    <button class="navbar-toggler border-dark p-2 myNavT" type="button" data-toggle="collapse" data-target="#navTop">
        <span class="navbar-toggler-icon bg-dark myNav1"></span><br>
        <span class="navbar-toggler-icon bg-dark myNav2"></span><br>
        <span class="navbar-toggler-icon bg-dark myNav3"></span>
    </button>
    <div class="collapse navbar-collapse myM" id="navTop">
        <ul class="navbar-nav d-flex justify-content-between ml-5 w-100">
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover myUser" (click)="toLogin()" routerLink="login">登录</a></li> 
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover myUser" href="#">注册</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover" href="#about">关于</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover" href="#nl">能力</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover" href="#draw">画廊</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover" href="#face">形象</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover" href="#love">爱好</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold text-dark myNavHover" href="#email">寄邮件给我们</a></li>
        </ul>
    </div>
</nav>
<audio [src]="url" autoplay="autoplay">
</audio>
