<div class="bg-dark w-100">
    <div class=" row p-3 mr-5 d-flex justify-content-around">
        <div class="col-md-2 col-sm-12 mt-5 offset-1">
            <h3 class="text-white mb-4">关于</h3>
            <p class="text-muted">本人是一枚程序猿，精通JavaScript、HTML、CSS，还有AngularJS，能基本运用Vue，熟练掌握后台语言PHP，这个网站就是我用PHP写的后台语言哦！</p>
        </div>
        <div class="col-md-2 col-sm-12 mt-5 offset-1">
            <h3 class="text-white mb-4">爱好</h3>
            <p class="text-muted">听音乐</p>
            <p class="text-muted">唱K歌</p>
            <p class="text-muted">游泳</p>
            <p class="text-muted">玩LOL</p>
            <p class="text-muted">看电影</p>
        </div>
        <div class="col-md-2 col-sm-12 mt-5">
            <h3 class="text-white mb-4">通航</h3>
            <p><a href="#about" class="text-muted">关于</a></p>
            <p><a href="#nl" class="text-muted">能力</a></p>
            <p><a href="#draw" class="text-muted">画廊</a></p>
            <p><a href="#face" class="text-muted">形象</a></p>
            <p><a href="#love" class="text-muted">爱好</a></p>
            <p><a href="#email" class="text-muted">寄件给我们</a></p>
        </div>
        <div class="col-md-4 col-sm-12 mt-5">
            <h3 class="text-white mb-4">通讯</h3>
            <input type="email" class="input-group-lg w-100 myHeight p-2" placeholder="请输入你的email~">
            <br>
            <input type="submit" class="border-white mt-3 bg-dark mySub font-weight-bold" value="Subscribe" routerLink="/login">
        </div>
    </div>
</div>