<div class="more"></div>
<div id="sowing_map" class="carousel m-auto" data-ride="carousel" data-interval="1800">
    <!--指示器-->
    <ul class="carousel-indicators">
        <li data-target="#sowing_map" data-slide-to="0" class="active"></li>
        <li data-target="#sowing_map" data-slide-to="1"></li>
        <li data-target="#sowing_map" data-slide-to="2"></li>
    </ul>
    <!--图片-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../img/mybg1.jpg" width="100%" alt=""/>
        </div>
        <div class="carousel-item">
            <img src="../../img/mybg2.jpg" width="100%" alt=""/>
        </div>
        <div class="carousel-item">
            <img src="../../img/mybg3.jpg" width="100%" alt=""/>
        </div>
    </div>
    <!--左右箭头-->
    <a href="#sowing_map" class="carousel-control-prev myAC" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#sowing_map" class="carousel-control-next  myAC" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>