#sowing_map{
    width: 100%;
}

.myAC{
    background-color: #959799;
    color: #ffffff;
    width: 5rem !important;
    height: 5rem !important;
    padding: 1rem ;
    top: 50%;
    margin: 0 0.62rem;
    border-radius: 0.32rem;
}
.myAC:hover{
    background-color: rgb(141, 141, 141);
}
.more{
    height: 5rem;
}