<div id="love" class="p-5 w-100 bg-white">
    <h3 class="text-center myFont mt-3 mb-4">我的爱好</h3>
    <div class="d-flex lovely">
        <div class="myL myL1">
            <img class="float-left mb-2" src="../../img/mius1.jpg" width="100%" height="40%" alt="">
            <div class="float-left" class="myCol1">
                <p class="font-weight-bold">音乐 | Music</p>
                <p class="font-weight-bold">—————</p>
                <p class="text-white">
                        &nbsp;&nbsp;&nbsp;&nbsp;音乐是一种休闲的方式，音乐能够陶冶情操。经常听音乐能够缓解压力。然而，音乐的好处却不仅如此。医书中说“脾好音乐，闻声即动而磨食。”道家也有“脾脏闻乐则磨”的说法。吃饭时听柔和清新的音乐，能促进食欲并有助于消化，而饭后欣赏音乐，可以陶冶性情。
                </p>
            </div>
        </div>
        <div class="myL">
            <img class="float-left mb-2" src="../../img/yundong.jpg" width="100%" height="40%" alt="">
            <div class="float-left" class="myCol2">
                    <p class="font-weight-bold">运动 |  Sports</p>
                    <p class="font-weight-bold">—————</p>
                    <p class="text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;体育锻炼有利于人体骨骼、肌肉的生长，增强心肺功能,改善血液循环系统、呼吸系统、消化系统的机能状况，有利于人体的生长发育，提高抗病能力，增强有机体的适应能力。体育锻炼是增强体质的最积极、有效的手段之一。
                    </p>
            </div>
        </div>
        <div class="myL">
            <img class="float-left mb-2" src="../../img/lol.jpg" width="100%" height="40%" alt="">
            <div class="float-left" class="myCol3">
                    <p class="font-weight-bold">游戏 | Game</p>
                    <p class="font-weight-bold">—————</p>
                    <p class="text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;玩网络游戏，能给人带来开心快乐，放松心情，带来成就感，满足感，缓解压力，开阔视野，暂时麻痹现实；玩游戏不可怕，可怕是沉迷，沉溺，要记住游戏是被人玩的， 不是游戏玩人，游戏是用来消遣的，用来娱乐的，用来休闲的，用来体验的，是暂时的……
                    </p>
            </div>
        </div>
    </div>
</div>