<div id="about" class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class="myFont">Welcome</h1>
            <p>
                欢迎来到我为我自己开发的一个个人网站，在这里大家会看到我的一些个人展示。既然来了就是朋友啦。人海沧茫!你、我、他、她由陌路而同窗，由相遇而相知，不相疑，长相守，“百年修得同船渡”，谁说这不是缘份?路漫漫，岁悠悠，难道这不值得珍惜?请记住，让我们坚守这份友谊!
            </p>
            <p class="text-muted">
                Welcome to a personal website I developed for myself, where you cansee some of my personal presentations. Now that we are friends. You,me, he and she are strangers and classmates. They know each other bymeeting, no doubt, and look like each other. They can build the sameboat in a hundred years. Who says this is not fate? Long journey, longyears, is it not worth cherishing? Please remember, let us stick tothis friendship!
            </p>
        </div>
        <div class="col-md-4 mr-1">
            <img src="../../img/myself1.jpg" width="100%" alt="">
        </div>
        <div class="col-md-3 mr-1">
            <h1 class="myFont">About Me</h1>
            <p>
                本人精通HTML/CSS/JavaScript，能熟练运用后台语言PHP以及NodeJS，此网站我使用后台语言是PHP，我还开发了其他的项目哦。我喜欢听歌、唱歌，游泳，打LOL......
            </p>
            <p class="text-muted">
                I am proficient in HTML/CSS/JavaScript, can skillfully use the background language PHP and NodeJS, this website I use the background language is PHP, I also developed other projects. I like listening to songs, singing, swimming, playing LOL...
            </p>
        </div>
    </div>
</div>