<div id="nl" class="myNl pt-5 pb-5">
    <h3 class="myFont text-center mt-3">我的能力</h3>
    <div class="d-flex flex-wrap justify-content-between container mt-5">
        <div class="mySquare">
            <img class="myImg" src="../../img/javascript.png" alt="">
            <h4 class="text-center mt-4 text-muted">JavaScript</h4>
        </div>
        <div class="mySquare">
            <img class="myImg" src="../../img/html.png" alt="">
            <h4 class="text-center mt-4 text-muted">HTML 5</h4>
        </div>
        <div class="mySquare">
            <img class="myImg" src="../../img/css.png" alt="">
            <h4 class="text-center mt-4 text-muted">CSS 2/3</h4>
        </div>
        <div class="mySquare">
            <img class="myImg" src="../../img/php.png" alt="">
            <h4 class="text-center text-muted myPHP">PHP</h4>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between container mt-5 mb-5">
        <div class="mySquare">
            <img class="myImg" src="../../img/nodejs.png" alt="">
            <h4 class="text-center mt-4 text-muted">NodeJS</h4>
        </div>
        <div class="mySquare">
            <img class="myImg" src="../../img/angular.png" alt="">
            <h4 class="text-center mt-4 text-muted">AngularJS</h4>
        </div>
        <div class="mySquare">
            <img class="myImg" src="../../img/vue.png" alt="">
            <h4 class="text-center mt-4 text-muted">VueJS</h4>
        </div>
        <div class="mySquare">
            <img class="myImg" src="../../img/React.png" alt="">
            <h4 class="text-center mt-4 text-muted">ReactJS</h4>
        </div>
    </div>
</div>