<div id="face" class="p-5">
    <h3 class="text-center myFont text-black-50 mb-5">我的个人形象</h3>
    <div class="container d-flex justify-content-around flex-wrap">
        <div class="myF1">
            <img src="../../img/myself2.jpg" width="100%" height="100%" alt="">
            <div class="w-100 myBix">
                <img src="../../img/love.jpg" width="100%" height="100%" alt="">
            </div>
        </div>
        <div class="myF1">
            <img src="../../img/myself1.jpg" width="100%" height="100%" alt="">
            <div class="w-100 myBix">
                <img src="../../img/love.jpg" width="100%" height="100%" alt="">
            </div>
        </div>
        <div class="myF1">
            <img src="../../img/myself7.jpg" width="100%" height="100%" alt="">
            <div class="w-100 myBix">
                <img src="../../img/love.jpg" width="100%" height="100%" alt="">
            </div>
        </div>
        <div class="myF1">
            <img src="../../img/myself9.jpg" width="100%" height="100%" alt="">
            <div class="w-100 myBix">
                <img src="../../img/love.jpg" width="100%" height="100%" alt="">
            </div>
        </div>
    </div>
</div>