<div id="email" class="p-5">
    <h3 class="myFont text-center">留言给我</h3>
    <div class="container row ml-5">
        <div class="col-lg-6 col-md-12 col-sm-12 p-5">
            <h5 class="mb-3">联系</h5>
            <p class="text-muted mb-4">有什么想留言给我的，大家都可以尽情留言。为了各位的信息安全，手机号码与邮箱可以随意填写，没有做验证哦。但是，必须得先登录才能留言哦。信息写好后可以进入留言板页面。登录后也会直接进入留言板页面。</p>
            <p class="myBigFont">
                <span><img src="../../img/phone.png"  class="myImgs" alt=""></span>
                <span class="text-muted ml-3">159****3604</span>
            </p>
            <p class="myBigFont">
                <span><img src="../../img/email.png"  class="myImgs" alt=""></span>
                <span class="text-muted ml-3">1532018479@qq.com</span>
            </p>
            <p class="myBigFont">
                <span><img src="../../img/adress.png"  class="myImgs" alt=""></span>
                <span class="text-muted ml-3">江苏南京栖霞区（具体保密哦~）</span>
            </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 p-5">
            <h5 class="mb-3">给我留个言吧</h5>
            <p>
                <input type="text" name="uname" placeholder="Name" class="myInput">
            </p>
            <p>
                <input type="email" name="email" placeholder="Email" class="myInput">
            </p>
            <p>
                <input type="phone" name="phone" placeholder="Phone" class="myInput">
            </p>
            <p>
                <textarea name="msg" id="msg" cols="60" rows="5" placeholder="Message" class="myText"></textarea>
            </p>
            <p>
                <button class="myButton btn btn-light" routerLink="/login">提交</button>
            </p>
        </div>
    </div>
</div>